@media screen and (max-width:799px) {

    ::-webkit-scrollbar {
        width: 0px;
        /* you can shrink taken width */
    }

    header {
        z-index: 2;
        width: 100%;
        height: auto;
        background-color: transparent;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .logoHeader {
        margin-right: auto;
        margin-left: 5%;
    }

    .logoHeader img {
        height: 60px;
    }

    body {
        margin-top: 60px;
    }
    .titolozzo{
        font-size: 45px;
    }

    #lista {
        display: flex;
        
        justify-content: space-between;
        background-color: transparent;
        width: 100%;
        height: auto;
    }
    .riempitivo{
        background-color: transparent;
    }

    .nav_links {
        background-color: white;
        width: 150px;
        padding-bottom: 10px;
        border-bottom-left-radius: 30px;
        -webkit-border-bottom-left-radius: 30px;
        -moz-border-radius-bottomleft: 30px;
    }

    .nav_links a {
        color: #1c1c1c;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;

    }

    #nomobile {
        display: none;
    }

    .robe {
        display: none;
    }

    .titolozzo{
        text-align: center;
        font-size: 45px;
    }
   
    .servizi {
        /*margin-left: 10%;
        margin-right: 10%;*/
        width: 80%;
        height: auto;
        flex-direction: column;
    }
    .servizi .servizio {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: fit-content;
        font-size: auto;
        text-align: justify;
    }
    .servizio p{
        padding: 20px;
        font-size: 20px;
    }
    #quattro{
        margin-left: 0;
    }
    #sei{
        margin-right: 0;
    }
    .fcontenitore {
        flex-direction: column;
    }

    .fmobile {
        display: flex;
        justify-content: center;
        padding-left: 60px;
    }

    .ftabella1 li {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .fmobile2 {
        display: flex;
        justify-content: center;
    }

    .ftabella2 li {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .fsotto{
        text-align: center;
        flex-direction: column-reverse;
    }

}